@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
  }

body {
    background: #e7edf6;
    height: 100%;
    overflow-y: scroll;
    font-family: Poppins;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.d-flex{
    display: flex;
}
.main-container{
    display: flex;
    padding: 15px 30px;
}
.side-nav{
    background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
    border-radius: 20px;
    width: 100px;
    position: relative;
}
.side-nav ul{
    padding-right: 35px;
    padding-left: 35px;
}
.side-nav li{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.side-nav li:last-child{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.side-nav li:first-child a img{
    min-width: 60px;
    height: 60px;
    margin-left: -15px;
}
.side-nav li a img{
    min-width: 20px;
    height: 20px;
}
.main-content{
    padding: 0px 15px;
    width: 100%;
}
.main-content .travel-card{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
.main-content .travel-card:hover{
    background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
    transform: scale(1.05);
    transition: all 0.5s;
}
.main-content .travel-card:hover .travel-card-header{
    color: #FFFFFF;
}
.main-header-content{
    display: flex;
}
.travel-main-header{
    color: #FF0066;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    font-family: Poppins-Bold;
}
.travel-cards-container{
    display: flex;
}
.travel-cards-container>div{
    margin-left: 10px;
    margin-right: 10px;
}
/* list view activated */
.travel-cards-container.listViewActivated{
    display: block;
}
.travel-cards-container.listViewActivated .badge-container,
.travel-cards-container.listViewActivated .travel-card-content{
    display: none;
}
.travel-cards-container.listViewActivated .travel-card{
    display: flex;
}
.listViewActivated .travel-action-buttons button{
    width: 100px;
}
.listViewActivated .travel-card-header{
    margin-top: 65px;
    margin-left: 20px;
}
/* list view activated */
.main-content .travel-card .travel-card-banner{
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.travel-card-header{
    color: #2B2ECF;
    font-size: 24px;
    line-height: 29px;
    width: 265px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.travel-card-content{
    color: #7F8A9C;
    font-size: 18px;
    line-height: 22px;
    width: 265px;
    text-align: left;
}
.badge-container span{
    background-color: #F6C937;
    border-radius: 11.5px;
    width: 114px;
    height: 23px;
    padding: 3px 7px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
}
.travel-action-buttons{
    display: flex;
}
.travel-action-buttons button{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    outline: none !important;
}
.travel-action-buttons button:active,
.travel-action-buttons button:focus{
    border:none;
}
.travel-action-buttons button:first-child{
    margin-left: auto;
}
.travel-action-buttons button:first-child{
    margin-right: 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 30px;
    margin-left: auto;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.mobile-banner{
    display: none;
}
@media only screen and (max-width: 767px) {
    .main-header-content{
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    .mobile-banner{
        display: block;
        background-image: url(images/mobile-banner.png);
        height: 450px;
        background-position: 50% 25%;
    }
    .mobile-banner h2{
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        text-shadow: 2px 2px 6px black;
    }
    .mobile-banner-inner{
        padding: 0px 15px;
        display: flex;
    }
    .side-nav{
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 2;
        left: 0px;
    }
    .side-nav ul{
        display: flex;
    }
    .side-nav li{
        margin: 0px 20px;
    }
    .side-nav li:first-child{
        display: none;
    }
    .side-nav li:last-child{
        position: relative;
        left: initial;
        transform: none;
    }
    .travel-main-header{
        display: none;
    }
    .main-container{
        padding: 0px;
    }
    .main-content{
        padding: 0px;
    }
    .travel-main-header{
        font-size: 18px;
    }
    .travel-cards-container{
        display: block;
    }
    .hamburger-menu{
        margin-left: auto;
    }
    .hamburger-menu img{
        width: 30px;
        height: 30px;
    }
    /* list view activated */
    .listViewActivated .travel-card .travel-card-banner{
        width: 70px;
        height: 70px;
    }
    .listViewActivated .travel-card-header {
        margin-top: 23px;
        margin-left: 20px;
    }
    .listViewActivated .travel-action-buttons button {
        width: 35px;
    }
    /* list view activated */
  }